* {
    box-sizing:border-box;
}
body {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto';
    font-style: normal;
}
header {
    padding: 79px 0 0 0;
    background: #EEEFF1;
}
.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.nav {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    padding: 0 42px 0 0;
}
.nav a {
    text-decoration: none;
    color: #000000;
}
.nav a:hover {
    font-weight: 500;
    color:#34547A;
}
.introduction {
    display: inline-block;
    background: #EEEFF1;
    padding-top: 162px;
    width: 100%;
}
.text {
    color: #727272;
    max-width: 540px;
    width: 100%;
    margin: 0;
}
h1 {
    margin: 0;
    padding-bottom: 60px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}
p {
    margin: 0;
    padding: 0;
}
.button {
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 141px;
    padding: 19px 41px 20px 41px;
    border: none;
    width: 225px;
    background-color: #34547A;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.button:hover {
    text-decoration: underline;
}
.center {
    text-align: center;
    width: 100%;
    padding: 0 0 100px 0;
}
.inline {
    display: inline-block;
}
h2 {
    margin: 0;
    padding: 100px 0 50px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.line {
    display: inline-block;
    width: 100%;
    min-width: 1150px;
    min-height: 250px;
    background-color: #34547A;
}
.project {
    padding: 0;
    list-style: none;
    margin: 100px 0;
    color: #FFFFFF;
}
.project > li {
    display: inline-block;
    width: calc(100%/6);
    margin-right: -12px;
    margin-left: 8px;
}
.for_svg {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    margin-left: 20px;
    margin-right: 40px;
}
.number {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
.for_video {
    width: 100%;
}
iframe {
    width: 100%;
    width: 1110px;
    height: 600px;
    border: 0;
    margin-top: 50px;
}
footer {
    margin: 0 auto;
    width: 100%;
    min-height: 151px;
    background-color: #34547A;
}
.footer_info {
    color:#FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    padding: 50px 0;
}
h3 {
    font-weight: 500;    
    font-size: 21px;
    line-height: 25px;
}